doctype html
head
  title Pohjois-Skandinavian pääkaupungin ATK-YTP 2021
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(name='description' content='ATK-YTP Oulu 27.-29.10.2021: Tietotekniikan opiskelijoiden liitto TiTOL:n kaksipäiväinen seminaaritapahtuma.')
  link(rel='apple-touch-icon' sizes='57x57' href='/apple-icon-57x57.png?d=cachebuster')
  link(rel='apple-touch-icon' sizes='60x60' href='favicon/apple-icon-60x60.png?d=cachebuster')
  link(rel='apple-touch-icon' sizes='72x72' href='favicon/apple-icon-72x72.png?d=cachebuster')
  link(rel='apple-touch-icon' sizes='76x76' href='favicon/apple-icon-76x76.png?d=cachebuster')
  link(rel='apple-touch-icon' sizes='114x114' href='favicon/apple-icon-114x114.png?d=cachebuster')
  link(rel='apple-touch-icon' sizes='120x120' href='favicon/apple-icon-120x120.png?d=cachebuster')
  link(rel='apple-touch-icon' sizes='144x144' href='favicon/apple-icon-144x144.png?d=cachebuster')
  link(rel='apple-touch-icon' sizes='152x152' href='favicon/apple-icon-152x152.png?d=cachebuster')
  link(rel='apple-touch-icon' sizes='180x180' href='favicon/apple-icon-180x180.png?d=cachebuster')
  link(rel='icon' type='image/png' sizes='192x192' href='favicon/android-icon-192x192.png?d=cachebuster')
  link(rel='icon' type='image/png' sizes='32x32' href='favicon/favicon-32x32.png?d=cachebuster')
  link(rel='icon' type='image/png' sizes='96x96' href='favicon/favicon-96x96.png?d=cachebuster')
  link(rel='icon' type='image/png' sizes='16x16' href='favicon/favicon-16x16.png?d=cachebuster')
  link(rel='manifest' href='favicon/manifest.json')
  meta(name='msapplication-TileColor' content='#E269A7')
  meta(name='msapplication-TileImage' content='favicon/ms-icon-144x144.png?d=cachebuster')
  meta(name='theme-color' content='#E269A7')
  link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
  link(rel='stylesheet' href='css/glitch.css?d=cachebuster')
  link(rel='stylesheet' href='css/main.css?d=cachebuster')
  script(src='js/jquery-3.5.1.min.js?d=cachebuster')
  script(src='js/bootstrap.min.js?d=cachebuster')
  script(src='js/countdown.js?d=cachebuster')
  script(src='js/k.js?d=cachebuster')
  script(src='js/activenavlink.js?d=cachebuster')
  script(src='https://kit.fontawesome.com/58c6c09cc8.js' crossorigin='anonymous')
nav.navbar.navbar-expand-lg.topnav.p-0.position-fixed.w-100
  button.navbar-toggler.m-1(type='button' data-toggle='collapse' data-target='#atkytpnavbar' aria-controls='navbarsExample01' aria-expanded='true' aria-label='Toggle navigation')
    span.navbar-toggler-icon
    span.navbar-close-icon
      i.fas.fa-times.fa-2x
  #atkytpnavbar.collapse.navbar-collapse
    ul.navbar-nav.mx-auto
      li.nav-item.active
        a.nav-link(href='#home')
          i.fas.fa-home
      li.nav-item
        a.nav-link(href='#schedule') Aikataulu
      li.nav-item
        a.nav-link(href='#events') Tapahtumat
      li.nav-item
        a.nav-link(href='#alko') Ruokailu
      li.nav-item
        a.nav-link(href='#accommodation') Majoitus
      li.nav-item
        a.nav-link(href='#transportation') Kuljetukset
      li.nav-item
        a.nav-link(href='#safespace') Turvallisempi tila
      li.nav-item
        a.nav-link(href='#corona') Korona
      li.nav-item
        a.nav-link(href='#team') Tiimi
      li.nav-item
        a.nav-link(href='#sponsors') Yhteistyössä
.text-center.p-0.w-100
  #home.text-center.mb-6.pt-5
    img#logo.d-none.d-md-block.img-fluid.mx-auto(src='graphics/logo/ATK-YTP_Legend_NewSmallerVersionbecauseItCanBeHardToMakeThisAtTheFirstTime.png?d=cachebuster' alt='ATK-YTP 2021')
    img#logo.d-md-none.img-fluid.mx-auto(src='graphics/logo/ATK-YTP_Legend_Mobiili_SitaVaanTullaanSieltaEtelastaIsoiltaKirkoiltaTanneJuhlimaanNiiiiin.png?d=cachebuster' alt='ATK-YTP 2021')
    h3#countdown.mt-3 Ookkonää Turusta?
.text-center
  .glitch-wrapper
    h1.glitch(data-text='Mika ATK YTP?') Mikä ATK-YTP?
  #info.col-sm-9.col-12.mx-auto
    p
      | ATK-yhteistoimintapäivät, tai tuttavallisemmin ATK-YTP, järjestetään tänä syksynä Oulussa 27.-29.10.2021 (koronavarauksella). Tietotekniikan opiskelijoiden liiton eli TiTOL:n kaksipäiväinen seminaaritapahtuma kerää vuosittain yhteen IT-alan opiskelijoita seitsemästä yliopistokaupungista. Tapahtuman järjestäjänä toimii isäntäkaupungin ICT-ainejärjestö, joka tänä vuonna on Oulun yliopiston tietojenkäsittelijöiden kilta Blanko ry. Tapahtuma järjestetään tänä vuonna yhteistyössä TIVIAn kanssa, johon niin Blanko, kuin TiTOL:kin kuuluvat!
    p
      | Yhteistoimintapäivät tarjoavat alan opiskelijoille ympäri Suomen mahdollisuuden tutustua toisiinsa sekä alan yrityksiin hauskalla tavalla. Tapahtumassa lukuisat alan ammattilaiset pitävät vaikuttavia luentoja kahtena seminaaripäivänä. Luennot pidetään Oulun yliopistolla L1-salissa lokakuun 27. ja 28. päivä klo 11-16, jonka jälkeen verkostoitumiselle on aikaa iltaohjelman parissa. Tämän lisäksi TiTOL pitää tapahtuman aikana syysliittokokouksensa.
span.divider
#schedule.container
  .text-center
    .glitch-wrapper
      h2.h1.glitch(data-text='Aikatoulu') Aikataulu
    h3.pb-3 Keskiviikko
  .timetable-container.table-responsive
    table.table.timetable.mb-0
      tr
        th Klo
        th Ohjelma
      tr
        td 8:00
        td Majoitus aukeaa
      tr
        td 10:00
        td Alkutervehdys: Blanko, TiTOL, TIVIA, TEK
      tr
        td 11:00
        td F-Secure - Jouni Knuutinen - Devaajan Urapolku
      tr
        td 12:00
        td Vaimo - From monolithic applications towards modern microservices
      tr
        td 13:00
        td TiTOLin liittokokous
      tr
        td 13:00
        td Huld - Tuomas Kallio - Siellä missä digitaalinen ja fyysinen maailma yhdistyvät
      tr
        td 14:00
        td Reaktor - Jaakko Aro - Vuodessa Labrasta Barcaan
      tr
        td 15:00
        td Solita - Tuomas Himmanen - Integraatioiden ABC
      tr
        td 16:00
        td Suunnistus alkaa
      tr
        td 18:00
        td Etkot by Siili @ Alppimaja
      tr
        td 21:00
        td Majoitus aukeaa
      tr
        td 21:30
        td Kuljetukset Alppimajalta 45 Specialiin
      tr
        td 22:00
        td Overflow by Solita @ 45 Special
      tr
        td 23:00
        td Alppimaja sulkeutuu
      tr
        td 04:00
        td Jatkot loppuu
  h3.pb-3 Torstai
  .timetable-container.table-responsive
    table.table.timetable.mb-0
      tr
        th Klo
        th Ohjelma
      tr
        td 8:00
        td Aamusauna
      tr
        td 11:00
        td Buutti - Miikka Salmi - Buutti: SpaceX without Space or X
      tr
        td 12:00
        td Vincit - Malinen & Ryynänen - Vincit: 600+ mahdollisuutta loistaa
      tr
        td 13:00
        td Oulun DataCenter - Ajankohtaiset suuntaukset laitetila- ja infrastruktuuripalveluissa
      tr
        td 14:00
        td Siili - Ferrix Hovi - Exciting Software Engineering Career(s)
      tr
        td 15:00
        td Synopsys - Untinen & Hulkko - Free Wi-Fi Available?
      tr
        td 16:00
        td Suunnistus alkaa
      tr
        td 18:00
        td Shake Dat Buutti @ Alppimaja
      tr
        td 21:00
        td Majoitus aukeaa
      tr
        td 21:30
        td Kuljetukset Alppimajalta Basso Clubille
      tr
        td 22:00
        td Algorytmit by TIVIA @ Basso Club
      tr
        td 23:00
        td Alppimaja sulkeutuu
      tr
        td 04:30
        td Jatkot loppuu
  h3.pb-3 Perjantai
  .timetable-container.table-responsive
    table.table.timetable.mb-0
      tr
        th Klo
        th Ohjelma
      tr
        td 11:00
        td Majoitus sulkeutuu
      tr
        td 23:00
        td Turku puolivälissä kotimatkaa
span.divider
#events.container-fluid
  .col-sm-9.col-12.mx-auto 
    .text-center 
      .glitch-wrapper 
        h2.mb-3.h1.glitch(data-text='Täbahtvmat') Tapahtumat 
      div
          h3.mb-2 Overflow by Solita
          p 
            | ATK-yhteistoimintapäivien rankan ensimmäisen seminaaripäivän ja suunnistusiltapäivän päätteeksi on aika palkita itsemme huikeilla iltabileillä, missäpä muuallakaan kuin Oulun omassa Numerossa! Juhlien päätähtenä on Maustetytöt, ja illan aikana meitä viihdyttävät myös paikalliset DJ:t! 
          p 
            | 45 Special tunnetaan yhtenä kaupungin legendaarisimmista keikkapaikoista, ja vuosikymmenten aikana “vintin” lavalle onkin noussut lukematon määrä niin kotimaan tähtiä kuin myös ulkomaisia bändejä ja artisteja. 
          p 
            | Meininkiä riittää peräti kolmessa eri kerroksessa; keskikerroksesta löydät viihtyisän loungen, kellarissa tanssijalka vipattaa rokkidiskon tahtiin ja yläkerrasta löytyy tietysti paikan kuuluisa esiintymislava. Illan aikana myös ravintolan keittiö on auki, joten tyhjin vatsoin ei iltaa tarvitse viettää.
          p
            | Juhlat mahdollistaa seminaaristakin tuttu Solita, joka on näkyvästi vaikuttava teknologia-, data- ja designyritys. Tapahtumapaikalta voit mahdollisesti löytää Solita-aiheisia tuotteita sekä solitalaisia, joita kannattaa ehdottomasti käydä jututtamassa.
          p   
            a(target='_blank' href='https://fb.me/e/2yR321Hwt') Overflow by Solita Facebookissa
      .col-9.mx-auto 
        span.divider
      div 
          h3.nb-2 Algorytmit by TIVIA 
          p 
            | Ja taas mennään! ATK-YTP:n toisena iltana juhlat jatkuvat Oulun yöelämätaivaan uuden kirkkaan tähden Basso Clubin hellässä huomassa. Tule noutamaan muistoksi upea haalarimerkki ja nauttimaan yhteistoimintapäivät päättävistä huikeista ravimenoista.
          p
            | Musiikkilinja poikkeaakin normista tällä kertaa hyvinkin rankasti, nimittäin Algorytmien ilta on pyhitetty konemusiikille! Illan päätähtenä Basson dekkien takana nähdään mm. YleX:n perjantai-illan todellinen suunnannäyttäjä DJ Orion! Lisäksi mukana on paikallisia sankareita Oulun reiviskenestä. Saundeja kuuluu heti kymmenestä aina puoli viiteen asti, joten muista pakata tanssikenkäsi tätä huikeaa iltaa varten.
          p
            | Näitä bileitä tukemassa on ATK-YTP:n tämän vuoden pääsponsori TIVIA, joka on Suomen johtava tieto- ja viestintätekniikan alan liitto, johon mm. Blanko ja TiTOL:kin kuuluvat. Tapahtumapaikalta voi tarttua käteen TIVIA-aiheisia tuotteita, kannattaa olla silmä tarkkana!
          p
            | Tapahtuma on tarkoitettu ensisijaisesti ATK-YTP -tapahtumaan osallistuville henkilöille. Mikäli tilaa kuitenkin riittää, voi näille jatkoille ostaa lipun ovelta hintaan 10e (sis. narikan). 
          p 
            a(target='_blank' href='https://fb.me/e/YYfWKshI') Algorytmit by TIVIA Facebookissa
span.divider
#alko.container-fluid 
  .col-sm-9.col-12.mx-auto 
    .text-center  
      .glitch-wrapper
        h2.h1.glitch(data-text='RaokAilv') Ruokailu
      div 
        p 
          | Tapahtuman aikana osallistujien ei tarvitse tuntea nälkää tai janoa. Yliopistolla opiskelijahintaista ruokaa tarjoaa 
          a(target='_blank' href='https://www.juvenes.fi/foodoo') ravintola Foodoo
          | , sekä kahvia 
          a(target='_blank' href='https://www.juvenes.fi/hub') cafe Hub
          |. Lisäksi Kaijonharjussa ja Linnanmaalla yliopiston läheisyydestä löytyy muitakin ravintoloita ja kauppoja. Lähin Alko sijaitsee kilometrin päässä Linnanmaan Prismalla.
span.divider
#accommodation.container-fluid
  .col-sm-9.col-12.mx-auto
    .text-center
      .glitch-wrapper
        h2.h1.glitch(data-text='Majøitus') Majoitus
      div
        p
          | Majoitus ulkopaikkakuntalaisille järjestetään Pohjankartanon koululla, osoitteessa 
          a(target='_blank' href='https://goo.gl/maps/eviN14apcZx6p1wa8') Leevi Madetojan katu 1
          | . Käyttäydythän majoituksessa muut huomioon ottaen. Pidä paikat puhtaana ja desibelit kohtuullisina.
        p
          | Majoitus on auki keskiviikkoaamuna klo 8.00-10.30 sekä illalla klo 21 alkaen. Torstaina majoitus sulkeutuu klo 11 ja aukeaa jälleen klo 21. Perjantaina majoituksesta on poistuttava klo 11 mennessä. Huolehdithan, että kaikki tavarasi tulevat mukaan majoituksesta poistuttaessa!
span.divider
#transportation.container-fluid
  .col-sm-9.col-12.mx-auto
    .text-center
      .glitch-wrapper
        h2.h1.glitch(data-text='Kvljetukset') Kuljetukset
      .col-xs-12
        p
          | ATK-YTP -osallistujille ilmaiset bussikuljetukset liikennöivät etkoilta jatkoille molempina iltoina klo 21.30-23.00 välillä. Bussit liikennöivät myös torstaiaamuna majoituksesta Oulun yliopistolle 9.30-11.00 välillä.
        p
          | Tämän lisäksi yliopiston ja keskustan välillä kulkee useita onnikkalinjoja. Ohjeet mobiililipun ostoon löytyvät 
          a(target='_blank' href='https://www.oulunjoukkoliikenne.fi/mobiililippu') Oulun joukkoliikenteen sivuilta
          | . Bussissa lipun voi myös ostaa pankkikortilla. Jatkoilta majoitukseen siirtyessä suosittelemme yöllistä happihyppelyä, sillä kävelymatka kestää n. 15 minuuttia.
span.divider
#safespace.container-fluid
  .col-sm-9.col-12.mx-auto
    .text-center
      .glitch-wrapper
        h2.h1.glitch(data-text='Turvallisenpi tilä') Turvallisempi tila
      div
        p
          | Tapahtumassa tulee noudattaa 
          a(target='_blank' href='https://blanko.fi/kilta/blanko-ry-turvallisemman-tilan-periaatteet/') Blankon turvallisemman tilan periaatteita
          | . Näin parannamme yhdessä kaikkien osallistujien sekä yhteistyökumppanien tapahtumakokemusta. Ts. Älä ole idiootti.
span.divider
#corona.text-center
  .container-fluid
    .col-sm-9.col-12.mx-auto
      .text-center
        .glitch-wrapper
          h2.h1.glitch(data-text='Korona') Korona
        div
          p
            | Ethän saavu tapahtumaan, jos tunnet olosi kipeäksi tai epäilet altistumista.
          p
            | Seuraamme tarkkaavaisesti suosituksia ja rajoituksia koronaan liittyen. Osallistujamäärää rajoitetaan 420 henkilöön. Tapahtumassa tulee olemaan käsidesiä saatavilla, käytäthän sitä. Huolehdithan myös siitä, ettet juo samoista pulloista tai kupeista muiden kanssa. Pidä riittävät turvaetäisyydet, myös kasvomaskin käyttöä suositellaan! 
          p
            | Tietoa koronaviruksesta ja sen ennaltaehkäisystä löydät 
            a(target='_blank' href='https://thl.fi/fi/web/infektiotaudit-ja-rokotukset/ajankohtaista/ajankohtaista-koronaviruksesta-covid-19') THL:n sivuilta
            | .
span.divider
#team.container-fluid.position-relative
  img#liquid-3(src='graphics/right-side-liquid3.png' alt='liquid')
  .col-sm-9.col-12.mx-auto
    .text-center
      .glitch-wrapper
        h2.h1.glitch(data-text='Tiimi') Tiimi 
    .row.justify-content-center.mb-3
      .row.textal
        .col.textl Aleksi Värttö
      .row.row-cols-2.textal
        .col.textal Aapomikko Matti
        .col.textal Aleksi Siipola
        .col.textal Atte Tornberg
        .col.textal Hanna Ollikainen
        .col.textal Jenna Vepsäläinen
        .col.textal Juhani Karppinen
        .col.textal Karoliina Autio
        .col.textal Maria Ollila
        .col.textal Niklas Mäkelä
        .col.textal Niklas Riekki
        .col.textal Santeri Kottari
        .col.textal Tuomas Aho
        .col.textal Veera Kiiskilä
        .col.textal Ville Siikaluoma
span.divider
#sponsors.container
  .text-center
    .glitch-wrapper
      h2.h1.glitch(data-text='Yhteistyossä') Yhteistyössä
    .row.mb-4
      .col-10.col-md-4.mx-auto
        a(target='_blank' href='https://tivia.fi')
          img.img-fluid.sponsor.top-sponsor(src='sponsors/tivia.png?d=cachebuster' alt='Tivia')
    .row.mb-4
      .col-10.col-md-4.mx-auto
        a(target='_blank' href='https://buutticonsulting.com/ura-buutilla')
          img.img-fluid.sponsor.b-sponsor(src='sponsors/buutti.png?d=cachebuster' alt='Buutti')
      .col-10.col-md-4.mx-auto
        a(target='_blank' href='https://www.siili.com/')
          img.img-fluid.sponsor.b-sponsor(src='sponsors/siili2.png?d=cachebuster' alt='Siili')
      .col-10.col-md-4.mx-auto
        a(target='_blank' href='https://www.solita.fi/avoimet-tyopaikat')
          img.img-fluid.sponsor.b-sponsor(src='sponsors/solita.png?d=cachebuster' alt='Solita')
    .row.align-items-center.mb-4.justify-content-center
      .col-6.col-md-3
        a(target='_blank' href='https://www.f-secure.com/en')
          img.img-fluid.sponsor.c-sponsor(src='sponsors/f-secure.png?d=cachebuster' alt='F-Secure')
      .col-6.col-md-3
        a(target='_blank' href='https://huld.io/')
          img.img-fluid.sponsor.c-sponsor(src='sponsors/huld.png?d=cachebuster' alt='Huld')
      .col-6.col-md-3
        a(target='_blank' href='https://www.reaktor.com/junior/')
          img.img-fluid.sponsor.c-sponsor(src='sponsors/reaktor.png?d=cachebuster' alt='Reaktor')
    .row.align-items-center.mb-4.justify-content-center  
      .col-6.col-md-3
        a(target='_blank' href='https://www.synopsys.com/software')
          img.img-fluid.sponsor.c-sponsor(src='sponsors/synopsys.png?d=cachebuster' alt='Synopsys')
      .col-6.col-md-3
        a(target='_blank' href='https://oulundatacenter.fi')
          img#odc.img-fluid.sponsor.c-sponsor(src='sponsors/oulun_datacenter3.png?d=cachebuster' alt='Oulun DataCenter')
      .col-6.col-md-3
        a(target='_blank' href='https://www.vaimo.com/fi/osaaminen/')
          img.img-fluid.sponsor.c-sponsor(src='sponsors/vaimo.png?d=cachebuster' alt='Vaimo')
    .row.align-items-center.mb-4.justify-content-center 
      .col-6.col-md-3
        a(target='_blank' href='https://fingersoft.com')
          img.img-fluid.sponsor.c-sponsor(src='sponsors/fingersoft.png?d=cachebuster' alt='Fingersoft')
      .col-6.col-md-3
        a(target='_blank' href='https://www.vincit.fi')
          img.img-fluid.sponsor.c-sponsor(src='sponsors/vincit.png?d=cachebuster' alt='Vincit')
      .col-6.col-md-3
        a(target='_blank' href='https://www.tek.fi/fi/')
          img.img-fluid.sponsor.c-sponsor(src='sponsors/tek2.png?d=cachebuster' alt='TEK')
img#liquid-1(src='graphics/right-side-liquid.png?d=cachebuster' alt='liquid')
img#liquid-2(src='graphics/left-side-liquid.png?d=cachebuster' alt='liquid')

footer.footer.py-3
  .container
    .row
      .col-12.col-sm-6.col-md-5.col-lg-8.text-left
        h4 Ota yhteyttä
        p.my-2.my-sm-4
          a(href='https://www.facebook.com/blankory' target='_blank')
            i.fab.fa-facebook-f.fa-2x.mr-2
          a(href='https://www.instagram.com/blanko_ry/' target='_blank')
            i.fab.fa-instagram.fa-2x.mr-2
          a(href='mailto:atk-ytp@blanko.fi' target='_blank')
            i.far.fa-envelope.fa-2x.mr-2
          a(href='https://t.me/joinchat/mgmmr4YRR_44MGRk' target='_blank')
            i.fab.fa-telegram-plane.fa-2x.mr-2
        p
          i.far.fa-copyright
          |  ATK-YTP toimikunta, Blanko ry
      .col-12.col-sm-6.col-md-5.col-lg-4.text-right
        a(target='_blank' href='https://blanko.fi')
          img#footer_logo.img-fluid(src='graphics/blanko/logotype-800.png?d=cachebuster' alt='Blanko ry')
        p.mangotext
          | Mangolonkero extra siirapilla


